.searchComponent {
    display: flex;
    flex-direction: row;
    min-width: 220px;
}

.input {
    outline: none;
    overflow: hidden;
    width: 100%;

}

.input::placeholder {
    color: #9b7d58;
}